.main {
  max-width: 1024px;
  min-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  gap: 20px;
}

.menu {
  width: 200px;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  min-width: 0;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .menu {
    width: 100%;
  }
}

